.footer {
  background-color: #1e1e1e;
  height: auto;
  padding-top: 40px;
  padding-bottom: 24px;
  @include grid(
    map-get($layout-desktop, column-number),
    map-get($layout-desktop, column-spacing),
    map-get($layout-desktop, margin)
  );
  &_header {
    grid-column: 1 / 13;
    padding: 40px 0px;
    border-radius: 24px;
    background-color: #fce01e;
    height: auto;
    display: grid;
    grid-template-columns: subgrid;
    margin-bottom: 60px;
    h4 {
      grid-column: 2 / 6;
    }
    &_right {
      grid-column: 6 / 12;
      display: grid;
      grid-template-columns: subgrid;
      & > div {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / 7;
        input {
          padding-left: 24px;
          grid-column: 1 / 5;
          border: none;
          border-radius: 8px;
        }
        button {
          transition: 300ms ease-in-out;
          border-radius: 8px;
          grid-column: 5 / 7;
          background-color: #191919;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          cursor: pointer;
          p {
            color: white;
            transition: 300ms ease-in-out;
          }
          span {
            line-height: 0;
            svg {
              path {
                transition: 300ms ease-in-out;
              }
            }
          }
          &:hover {
            background-color: white;
            transition: 300ms ease-in-out;
            p {
              color: #191919;
              transition: 300ms ease-in-out;
            }
            span {
              svg {
                path {
                  fill: #191919;
                  transition: 300ms ease-in-out;
                }
              }
            }
          }
        }
      }
      p {
        grid-column: 1 / 7;
        color: #727373;
      }
    }
  }
  &_mid {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: subgrid;
    margin-bottom: 40px;
    a {
      grid-column: 1 / 3;
    }
    nav {
      grid-column: 3 / 10;
      display: grid;
      grid-template-columns: subgrid;
      ul {
        h5 {
          color: white;
          margin-bottom: 8px;
        }
        &:nth-child(1) {
          grid-column: 1 / 3;
          li {
            &:hover {
              p {
                color: white;
              }
            }
          }
        }
        &:nth-child(2) {
          grid-column: 3 / 6;
        }
        &:nth-child(3) {
          grid-column: 6 / 9;
          li {
            &:hover {
              p {
                color: white;
              }
            }
          }
        }
        li {
          p {
            color: #818181;
          }
        }
      }
    }
    & > div {
      text-align: end;
      grid-column: -1 / -3;
      h5 {
        color: white;
        margin-bottom: 8px;
      }
      ul {
        display: flex;
        justify-content: end;
        gap: 4px;
        li {
          cursor: pointer;
          svg {
            path {
              transition: fill 300ms ease-in-out;
            }
          }
          &:hover {
            svg {
              path {
                fill: #fe191b;
              }
            }
          }
        }
      }
    }
  }
  &_bottom {
    grid-column: 1 / 13;
    display: flex;
    justify-content: space-between;
    & > div {
      display: flex;
      gap: 8px;
    }
    p {
      color: #727373;
    }
  }
  @include mq("tablet", max) {
    @include grid(
      map-get($layout-mobile, column-number),
      map-get($layout-mobile, column-spacing),
      map-get($layout-mobile, margin)
    );
    &_header {
      grid-column: 1 / 9;
      padding: 32px 0px;
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;
      padding-left: 16px;
      padding-right: 16px;
      gap: 32px;
      &_right {
        & > div {
          display: flex;
          gap: 8px;
          margin-bottom: 8px;
          input {
            padding-left: 24px;
            grid-column: 1 / 5;
            border: none;
            border-radius: 8px;
            height: 32px;
          }
          button {
            transition: 300ms ease-in-out;
            border-radius: 8px;
            padding: 0px 8px;
            p {
              color: white;
              transition: 300ms ease-in-out;
              font-size: 12px;
            }
            span {
              display: none;
            }
          }
        }
      }
    }
    &_mid {
      grid-column: 1 / 9;
      display: grid;
      grid-template-columns: subgrid;
      margin-bottom: 40px;
      a {
        grid-column: 1 / 9;
      }
      nav {
        margin-top: 16px;
        grid-column: 1 / 9;
        display: flex;
        flex-direction: column;
        ul {
          margin-bottom: 24px;
        }
      }
      & > div {
        text-align: start;
        grid-column: 1 / 9;
        ul {
          display: flex;
          justify-content: start;
          gap: 4px;
        }
      }
    }
    &_bottom {
      grid-column: 1 / 9;
      display: flex;
      flex-direction: column;
      gap: 8px;
      & > div {
        display: flex;
        flex-direction: column;

        gap: 8px;
      }
      p {
        color: #727373;
      }
    }
  }
}
