/* ClashGrotesk */

@font-face {
  font-family: "ClashGrotesk-Bold";
  src: url("/fonts/ClashGrotesk-Bold.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Bold";
  src: url("/fonts/ClashGrotesk-Bold.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Bold";
  src: url("/fonts/ClashGrotesk-Bold.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("/fonts/ClashGrotesk-Extralight.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("/fonts/ClashGrotesk-Extralight.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Extralight";
  src: url("/fonts/ClashGrotesk-Extralight.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("/fonts/ClashGrotesk-Light.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("/fonts/ClashGrotesk-Light.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Light";
  src: url("/fonts/ClashGrotesk-Light.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("/fonts/ClashGrotesk-Medium.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("/fonts/ClashGrotesk-Medium.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("/fonts/ClashGrotesk-Medium.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("/fonts/ClashGrotesk-Regular.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("/fonts/ClashGrotesk-Regular.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Regular";
  src: url("/fonts/ClashGrotesk-Regular.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("/fonts/ClashGrotesk-Semibold.ttf") format("ttf");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("/fonts/ClashGrotesk-Semibold.woff") format("woff");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("/fonts/ClashGrotesk-Semibold.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "block";
}
