.creationsGrid {
  padding-top: 92px;
  padding-bottom: 184px;
  margin: auto;
  @include grid(
    map-get($layout-desktop, column-number),
    map-get($layout-desktop, column-spacing),
    map-get($layout-desktop, margin)
  );
  justify-items: center;
  h3 {
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 92px;
  }
  ul {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: subgrid;
    row-gap: 20px;
    margin-bottom: 104px;
    li {
      background-color: lightgray;
      border-radius: 24px;
      height: 309px;
      &:nth-child(6n + 1) {
        grid-column: 1 / 5;
        &:not(:has(+ li)) {
          grid-column: 1 / 12;
        }
      }
      &:nth-child(6n + 2) {
        grid-column: 5 / 9;
        &:not(:has(+ li)) {
          grid-column: 5 / 12;
        }
      }
      &:nth-child(6n + 3) {
        grid-column: 9 / 12;
        &:not(:has(+ li)) {
          grid-column: 9 / 12;
        }
      }
      &:nth-child(6n + 4) {
        grid-column: 1 / 4;
        &:not(:has(+ li)) {
          grid-column: 1 / 12;
        }
      }
      &:nth-child(6n + 5) {
        grid-column: 4 / 7;
        &:not(:has(+ li)) {
          grid-column: 4 / 12;
        }
      }
      &:nth-child(6n + 6) {
        grid-column: 7 / 12;
        &:not(:has(+ li)) {
          grid-column: 7 / 12;
        }
      }
    }
  }
  a {
    grid-column: 1 /13;
  }

  &.projects{
    padding-top: 64px;
    padding-bottom: 64px;
    ul{
      margin-bottom: 0px;
    }
  }

  @include mq("tablet", max) {
    padding-top: 40px;
    padding-bottom: 40px;
    @include grid(
      map-get($layout-mobile, column-number),
      map-get($layout-mobile, column-spacing),
      map-get($layout-mobile, margin)
    );
    h3 {
      grid-column: 1/9;
      margin-bottom: 40px;
    }
    ul {
      grid-column: 1 / 9;
      height: auto;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-bottom: 52px;
      li {
        background-color: lightgray;
        border-radius: 24px;
        height: 309px;
      }
    }
    a {
      grid-column: 1 /9;
    }
  }
}
